// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.whitespace-preline {
	white-space: pre-line;
}

.skip-navigation {
  @include sr-only;
  @include sr-only-focusable;

  display: block;
  background: #eee;
  color: #000;
  text-decoration: underline;
  padding: 1em;
}