// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import './bootstrap/bootstrap';

.whitespace-preline {
	white-space: pre-line;
}

.skip-navigation {
  @include sr-only;
  @include sr-only-focusable;

  display: block;
  background: #eee;
  color: #000;
  text-decoration: underline;
  padding: 1em;
}

.alert-warning {
	color: #551700;
	border-color: #FEEFB3;
}

ol {
	counter-reset:item; 
	margin:0; 
	padding-left:0; 

	>li {
		counter-increment:item; 
		list-style:none inside; 
		margin: 40px 0;
		overflow: hidden;
		font-size: 16px !important;
		line-height: 1.3;
		padding-left: 75px;

		&:before {
			content:counter(item);
			margin-right: 20px;
			margin-left: -75px;
			padding: 8px;
			display: block;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;
			width: 55px;
			background: $primary;
			color: #fff;
			text-align: center; 
			font: 32px 'Lato', Helvetica, Arial, sans-serif;
			font-weight: 200;
			float: left;
		}
	}
}

.ml-ol {
	margin-left: 75px;
}

// Recaptcha styles

.grecaptcha-badge {
	visibility: hidden;
}